.jumbotron {
  padding-top: 5rem;
  background-color: rgb(194, 193, 193);
}

#project {
  background-color: rgb(194, 193, 193);
}
#project .row {
  margin-right: 100px;
}
section {
  padding-top: 5rem;
}
